<!--<report-form></report-form>-->
<h1>{{{polyglot "newReport" }}}</h1>

<div role="heading">
    <legend>{{{polyglot "ClickFormName" }}}</legend>
</div>

<p>
    <a data-role="button" id="FirstVisit" class="btn btn-primary btn-lg">{{{polyglot "FirstVisit" }}}</a><br/>
</p>
<p>
    <a data-role="button" id="SecondVisit" class="btn btn-primary btn-lg">{{{polyglot "SecondVisit" }}}</a>
</p>

